
            <div class="card-body">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Complete name</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="author" 
                  class="form-control form-control-lg"  requerid 
                  value="<%= locals.author? author.name : locals.oldData ? oldData.name : '' %>"/>
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Country</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="country" requerid class="form-control form-control-lg" 
                   value="<%= locals.author? author.country : locals.oldData ? oldData.country : '' %>"/>
                </div>
              </div>           
        </div>